<div class="ag-agent-section list-left pull-left text-center folder-bg-{{ folder.id | modulo:9 }}">
    <div class="ag-intro">
        <h2 class="heading">{{ folder.name | h }}</h2>
        <p class="info-text pwidth70">{{ folder.description | truncate: 180 }}</p>
        {% if folder.category.name == "Agent Guide" %}
        <div style="display:none;" class="back-btn" title="Back to &quot;Solutions Home&quot;">
            {% else %}
            <div style="display:none;" class="back-btn" title="Back to &quot;{{folder.category.name}}&quot;">
                {% endif %}
                <i></i>
                <i></i>
                <i></i>
            </div>
            <input type="hidden" id="nav_upward" value="http://training.freshdesk.com/support/solutions/{{ folder.category.id }}" />
        </div>
    </div>

    <div class="ag-agent-section pull-left white-bg article-list-middle" id="folder-show-{{folder.id}}">
        {% if folder.articles_count > 0 %} {% paginate folder.articles by 10 %}
        <ul class="folder-bg-{{ folder.id | modulo:9 }} ag-link-list">
            {% for article in paginate.collection %}
            <li class="c-row c-article-row">
                <div class="ellipsis article-title">
                    <a href="{{ article.url }}" class="c-link">{{ article.title | truncate: 50 }}</a>
                </div>
            </li>
            {% endfor %} {{ paginate | default_pagination }}
        </ul>

        {% endpaginate %} {% else %} {{ folder| h | filler_for_folders }} {% endif %}
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery(".back-btn").fadeIn('slow');
            jQuery(".back-btn").click(function () {
                if (jQuery(".ag-intro > h2").html() == "The Agent Guide") {
                    window.location.replace("http://training.freshdesk.com/support/solutions");
                } else {
                    window.location.replace(document.getElementById("nav_upward").value);
                }
            });
        });
    </script>